<!DOCTYPE html>
<html lang="en">

<head>
  <title>MPSE Interactive System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>


svg {
  fill: #000;
  fill-opacity: 0.3;
}

path {
  stroke: steelblue;
  stroke-width: 2px;
  fill: none;
}

.axis {
  stroke: #000;
}

.axis-labels text {
  fill: #000;
  fill-opacity: 0.9;
  font-size: 12px;
  text-anchor: middle;
}

.axis-labels line {
  stroke: #000;
}

.gridline {
  opacity: 0.2;
}


 .progress{height: 80px;}
 .top-buffer { margin-top:20px; }

 div.card1 {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    }

    div.card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 450px;
    }
    
    div.header {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      font-size: 32px;
     
      text-align: center;
    }
    
    div.container {
      padding: 10px;
    }
    </style>

</head>

<body>