<%include header%>

<form method="post" action="run" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> <a href="http://uamap-dev.arl.arizona.edu:8085/MPSE"> MPSE Homepage and Precomputed Examples</a>
                </h1>
                <br><br>
            <div>
                <h3>Precomputed results</h3>
                <ul> 123 example (sample size: 10000, max_iters: 500, projection: cylinder  average_neighbors: 4, smart initialization: random, visualization template: point based)  <a href="/precomputed/123">View</a></ul>
                <ul> circlesquire example (sample size: 200, max_iters: 200, projection: standard, smart initialization: random, visualization template: point based)  <a href="/precomputed/circlesquire">View</a></ul>
                </div>

                <h1> Data</h1>
                <hr>
                <h3> <label class="radio-inline"><input type="radio" name="data" value="preloaded" checked> Preloaded
                        Data</label></h3>

                <label class="radio-inline"><input type="radio" name="preloadeddata" value="123"> 1-2-3 Examples</label>
                <label class="radio-inline"><input type="radio" name="preloadeddata" value="credit"> Credit Data</label>
                <label class="radio-inline"><input type="radio" name="preloadeddata" value="circlesquire" checked>
                    Circle-Squire Data</label>

                <br><br>
                <h3> <label class="radio-inline"><input type="radio" name="data" value="uploaded"> Upload Distance
                        Matrices</label></h3> (<a href="data/dataset_3D/circle_square_new/dist_circle.csv"> Examples of
                    data format</a>) <br>
                Distance Matrix 1: <input type="file" name="file1"><br>
                Distance Matrix 2: <input type="file" name="file2"><br>
                Distance Matrix 3: <input type="file" name="file3"><br>
                <br>

                <hr>

                <h1> Experiment Settings</h1>
        
                experiment name : <input type="text" value="exp" name="EXPERIMENT_NAME"><br>
                <!-- number of projections: <input type="text" value="3" name="projections"><br> -->
                projections Type: <select name="projection_type">
                    <optgroup label="fixed">
                        <option value="same">same</option>
                        <option selected="selected" value="standard">standard</option>
                        <option value="cylinder">cylinder</option>
                        <option value="orthogonal">orthogonal</option>
                        <option value="normal">normal</option>
                        <option value="uniform">uniform</option>
                    </optgroup>
                    <option value="variable">variable</option>
                </select><br>

                <!-- learning_rate: <input type="text" value="0.001" name="learning_rate"><br> -->
                max iterations: <input type="text" value="100" name="max_iters"><br>
                average neighbors: <input type="text" value="16" name="average_neighbors"><br>
                sample_size: <input type="text" value="100" name="sample_size"><br>


                Smart initialization: <select name="smart_initialization">
                    <option value="mds">mds based</option>
                    <option value="random" selected>random</option>
                </select><br>

        
                <hr>


                <h1>3D Visualization Settings</h1>
                Visualization template <select name=vistemplate>
                    <option value="pointbased">Point Based</option>
                    <option value="attributebased">Attribute Focused</option>
                </select><br>
                <!-- Background color: <select>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                </select> <br>
                Point color: <select>
                    <option value="Green">Green</option>
                    <option value="Purple">Purple</option>
                    <option value="Yellow">Yellow</option>
                </select>
                <hr> -->
             
               
                <input type="submit" value="Run">
            </div>
        </div>
    </div>
</form>